

<%= form_tag new_family_person_path(@family), method: "get" do %>
<%= submit_tag "Add A Person To The Family" %>
<% end %><br>
<ul>
<% @people.each do |person|%>
  <li><%= link_to person, person_path(person) %></li>
<% end %>
</ul>
