<h1><%= @family.name %> Photos</h1>
 <%= link_to '<button type="button">Add a Photo</button>'.html_safe, new_user_family_photo_path(@user, @family) %><br>
<br>
<%= link_to '<button type="button">Return to Family Page</button>'.html_safe, user_family_path(@user, @family) %>
<br>
<br>
<% @photos.each do |photo| %>
  <%= link_to (image_tag photo.img_url, :size => "725x450"), user_photo_path(@user, photo)%><br>
<% end %>
